<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AllActiveMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.AllActive">
            <id property="active" column="active" jdbcType="VARCHAR"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="activityList"  resultMap="BaseResultMap">
         select * from  all_active
    </select>

</mapper>
