<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PageMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.Page">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
    </resultMap>

  <select id="PagingQuery" resultType="com.example.demo.entity.Page">
 select  * from page
  </select>
</mapper>
